{% extends "base.html" %}
{% block title %} COVID-19 Tracker - Credits {% endblock title %}
{% block status_credits %} active {% endblock status_credits %}

{% block content %}
<br>
<br>
<div class="container">
	<div class="jumbotron" style="-webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;border-radius: 10px; padding: 90px;">

    <h2 style="font-weight: 900; text-align: center;">Made with ❤️ by Aryan</h2>

    <br><br>

    <p style="text-align: center; font-weight: 900;">Thanks for checking in at my project!</p>
    <br><br>

    <h3 style="text-align: center; font-weight: 900;">Credits:</h3>
    <p style="text-align: center; font-weight: 900;">Developement- Aryan Mishra</p>
    <p style="text-align: center; font-weight: 900;">Data Provider- https://mohfw.gov.in/</p>
    <p style="text-align: center; font-weight: 900;">Graph API- Chart.js</p>
    <p style="text-align: center; font-weight: 900;">Data Scraper- Parsehub API</p>
    <br><br>

    <small style="text-align: center; font-weight: 900;"><p>Copyright(C) Aryan Mishra 2021. Do Not Distribute!</p></small>


		
	</div>
</div>

{% endblock content %}